.add-imbuement {
    display: flex;
    align-items: center;
    white-space: nowrap;
    gap: 6px;
        row-gap: 6px;
        column-gap: 6px;
    justify-content: flex-end;
}

.imbuement-form-group {
    margin-bottom: 6px;
}

.imbuement-fieldset-controls {
    padding-top: 6px;
    justify-content: flex-end;
    align-items: center;
}

.edit-controls {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.imbuement-configuration {
    padding: 3px;
    margin-top: 0;
    gap: 3px;
}

.imbuement-title {
    text-transform: capitalize;
    justify-content: flex-start;
}

.window-title {
    text-transform: capitalize;
}

.investment-value-controls {
    align-items: center;
    max-width: fit-content;
}

.gold-value-input {
    max-width: 70px;
}

.add-gold-button {
    color: green;
    max-width: 30px;
    max-height: fit-content;
    padding-left: 3px;
}

.subtract-gold-button {
    color: red;
    max-width: 30px;
    max-height: fit-content;
}

.imbuement-data {
    max-width: 50%;
    max-height: fit-content;
    align-items: center;
}
