.imbuement-title {
    display: flex;
    text-transform: capitalize;
    justify-content: flex-start;
    flex-direction: row;
}

.window-title {
    text-transform: capitalize;
}

.monster-parts-property {
    text-transform: capitalize;
}

.monster-parts-skill {
    text-transform: capitalize;
}

.monster-parts-refinement-property {
    text-transform: capitalize;
}

.monster-parts-path {
    text-transform: capitalize;
}

.gold-value-input {
    max-width: 70px;
}

.add-gold-button {
    color: green;
    max-width: 30px;
    max-height: fit-content;
    padding-left: 3px;
}

.subtract-gold-button {
    color: red;
    max-width: 30px;
    max-height: fit-content;
}

fieldset.refinement {
    display: flex;
    justify-content: space-between;
}

fieldset.imbuement {
    display: flex;
    justify-content: space-between;
}

.monster-parts-column-left {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0.5em 0.25em;
}

.monster-parts-column-right {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    border-left: 2px groove rgb(192, 192, 192);
    padding: 0 0.5em 0.25em;
}

.monster-parts-data > * {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.value-controls {
    display: flex;
    align-items: center;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.data-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px 0;
    align-items: center;
}

.data-group-label {
    font-weight: 500;
    text-transform: capitalize;
}

.data-group-value {
    float: right;
    width: 100px;
}

.data-group > select {
    width: 100px;
}